.dropdown{
    /* left: 50%;
    right: auto;
    top: 120%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) ;
    z-index: 10000;
    border-radius: 0px; */
}