.references {
    display: flex;
    background-color: #f2f1ec;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    min-height: 80vh;
}

.references button:hover {
    background-color: #365b6d;
}

.references-idioma {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    margin-top: 20px;
    width: 15%;
}

.references-idioma img {
    height: 30px;
    margin: 5px;
}

.references-idioma span {
    margin: 10px;
    text-align: center;
}

.references-idioma button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: #6c9286;
    color: #f2f1ec;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

/* .references-idioma-1 {
    display: flex;
    justify-content: center;
} */

/* .references-idioma-1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: #f2f1ec;
    color: #6c9286;
    border: 2px solid #6c9286;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
} */

/* .references-idioma-1 button:hover {
    background-color: #6c9286;
    color: #f2f1ec;
    border: none;
} */

.references-copy {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
    width: 15%;
}

.references-copy img {
    height: 30px;
    margin: 5px;
}

.references-copy span {
    margin: 10px;
    text-align: center;
}

.references-copy button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: #6c9286;
    color: #f2f1ec;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.references-display {
    display: column;
    margin-top: 20px;
    width: 70%;
}

.references-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.references-ref img {
    height: 30px;
    margin: 5px;

}

.references-ref button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: #6c9286;
    color: #f2f1ec;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.references-content h4{
    margin: 20px;
    margin-left: 0px;
    text-align: start;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
}

.references-content h4:hover{
    color: #365b6d;
}

.references-content p{
    margin: 10px;
    margin-left: 30px;
    text-align: start;
    font-size: 16px;
}