.navbar{
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #365B6D;
}
/* 
.navbar-login{
    display: contents;
    justify-content: flex-start;
    align-items: center;
} */

.navbar-functions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #365B6D;
    margin-left: 10px;
}

.navbar-login img {
    max-width: 90px;
    padding: 0.5rem;
    /* margin: 10px; */
    border: none;
    cursor: pointer;
}

.navbar-login img:hover{
    filter: brightness(500%);
}

.navbar-loggedIn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #365B6D;
}

.navbar-loggedIn img {
    max-width: 30px;
    /* padding: 0.5rem; */
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}

.navbar-loggedIn button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F1EC;
    padding: 0.5rem;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.navbar-loggedIn button:hover{
    background-color: white;
}

.navbar-loggedIn p{
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #365B6D;
}

.navbar-idioma {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #365B6D;
}

.navbar-idioma button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F1EC;
    padding: 0.5rem;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

.navbar-idioma button:hover{
    background-color: white;
}

.navbar-idioma img {
    max-width: 30px;
    /* padding: 0.5rem; */
    margin-left: 5px;
    margin-right: 5px;
    border: none;
}

.navbar-idioma p {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #365B6D;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #365B6D;
    padding: 10px;
    margin-right: 30px;
}

.navbar-logo p {
    font-size: 30px;
    font-weight: bold;
    color: #F2F1EC;
    font-style: italic;
    cursor: pointer;
}

.navbar-logo p:hover {
    color: white;
}